@model ReportManager.Models.Report

@{
    ViewBag.Title = "حذف اطلاعات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("بازگشت به لیست", "Index", new { }, new { @class = "btn btn-primary btn-md" })

</div>
<h2>حذف</h2>

<h3>آیا مطمئن هستید که می خواهید این را حذف کنید؟</h3>
<div>
    <h4>حذف دستور گزارش</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            عنوان
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
           دستورات
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            وضعیت
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
        </div>
    }
</div>
